/* Main body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Header styles */
.main-header {
  background-color: #3b5998;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

/* Welcome section */
.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: #fff;
  border-bottom: 2px solid #eaeaea;
}

.welcome-text {
  text-align: center;
}

button#enable-location-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button#enable-location-btn:hover {
  background-color: #334d84;
}

/* Location info */
.location-section {
  text-align: center;
  padding: 2rem;
  background-color: #fafafa;
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.hidden {
  display: none;
}

/* Chat section */
.chat-section {
  margin: 2rem auto;
  width: 50%;
}

.chat-box {
  background-color: #fdfdfd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

#messages {
  height: 200px;
  overflow-y: auto;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
}

.chat-input-area {
  display: flex;
}

.chat-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.send-btn {
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.send-btn:hover {
  background-color: #334d84;
}

/* Footer styles */
.main-footer {
  text-align: center;
  background-color: #3b5998;
  color: white;
  padding: 1rem 0;
}

.main-footer p {
  margin: 0;
}
